{% extends "admin/base.twig" %}



{% block title_page %}
<h1> <i class="fa fa-plus-circle" aria-hidden="true"></i> Liste des produits  </h1>
{% endblock %}

{% block body %}
<div class="col-xs-12">
{% if products|length < 10 %}<label>Nombre de produits : {{ products|length|default(0) }} </label> {% endif %}
</div>
<div class="col-xs-12 col-md-10">


<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead>
    {% for product in products %}
        <tr>
            <td><img src="{{product.image}}" alt="{{product.name}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>
                <a href="/market/show/product/{{ product._id}}" class="btn btn-primary" target="_blank">Voir</a>
               
            </td>
        </tr>
    {% endfor %}
</table>
</div>

{% endblock body %}

{% block javascript %}
{% if products|length > 10 %}
 <script>
     $(document).ready(function(){
             $('table').DataTable();
     });
 </script>
 {% endif %}
{% endblock javascript %}

