{% extends "base/base_home.twig" %}

    {% block main %}
    
        <!-- Video autoplay -->
    <section id="banner">
        <div class="banner-title">
            <h1><b class="banner-txt-down">Homii</b>, créateur de solutions innovantes <br>pour économier et consommer votre énergie.</h1>
            <div class="sep"></div>
            <p class="banner-txt">Produisez votre énergie <br>grâce aux produits Homii !</p>
            <p class="banner-txt-down">Comment ça marche ?</p>
            <a href="#description"><img alt="" src="images/down_click.png"></a>
        </div>
        <video  autoplay loop muted>
            <source src="videos/landing.mov">
            Votre navigateur ne supporte pas le tag video 
        </video>  
    </section>

    <!-- Offre -->
    <section id="concept">
        <div class="container">
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2>Le concept homii</h2>
                    <hr class="sep"></hr>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept1.png" alt="">
                    <h3 class="low">Produisez votre énergie depuis chez vous</h3>
                    <p>Grâce à nos solutions personnalisées, adaptées à votre localisation et à votre budget</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept2.png" alt="">
                    <h3 class="low">Faites des économies sur vos factures</h3>
                    <p>En optant pour nos solutions autonomes en énergie</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept3.png" alt="">
                    <h3 class="low">Prenez soin de la planète</h3>
                    <p>En encourageant les start-up qui imaginent les énegies vertes de demain</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FullImage -->
    <section id="fullImage">
        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-5 text">
                        <h2 class="white">Create your own energy</h2> 
                        <div class="sep"></div>
                        <div class="description">
                            <p><b>L’autoconsommation</b>est une pratique qui consiste à produire sa propre énergie, en partie ou en totalité. 
                            <br><b>Notre mission ? </b>Accompagner le plus grand nombre vers l’autonomie énergétique.
                            <br><b>Les opportunités ? </b>Devenir 10%, 50% ou même 100% autonome en énergie !</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Offre -->
    <section id="description">
        <div class="container">
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2>L'offre homii</h2>
                    <hr class="sep"></hr>
                </div>
                <p> La borne Homii est une borne thermoélectrique basée sur l’effet Peltier. Elle capte l’énergie des sources de chaleur (à partir de 100 degrés)
                pour la transformer en électricité. Munie d’une à 3 prises, elle alimente vos appareils électriques, qui contribuent à votre confort.<br>
                <a href="#">Pour en savoir sur sur le produit, rendez-vous sur la fiche produit.</a><br>
                <a href="#">Pour en savoir sur l’effet Peltier, rendez-vous ici.</a></p>
                <!--<div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/kit1.png" alt="">
                    <h3>Kit Conso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                    <button class="btn-white">En savoir plus</button>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/kit2.png" alt="">
                    <h3>Kit Hydro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                    <button class="btn-white">En savoir plus</button>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/kit3.png" alt="">
                    <h3>Kit electro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                    <button class="btn-white">En savoir plus</button>
                </div>-->
            </div>
        </div>
    </section>

    <!-- Blog -->
    <section id="blog">
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Le Blog homii</h2>
                    <hr class="sep"></hr>
                </div>

            <!-- Projects Row -->
            <div class="row">
                {% for article in articles %}
                <div class="col-md-4 portfolio-item">
                    <a href="/blog/{{ article.slug}}">
                        <img class="img-responsive" src="{{ article.image }}" alt="{{ article.titre_1}}">
                    </a>
                    <h3>{{ article.titre_1 }}</h3>
                    <p>{{ article.preview }}</p>
                    <a href="/blog/{{ article.slug}}">    <span>>Détails</span></a>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- Newsletter -->
    <section id="newsletter">
        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text">
                        <div class="logo-left">
                            <img src="images/logo.png" alt="" width="150">
                        </div>
                    </div>
                    <div class="col-sm-7 text">
                        <h3 class="white">Envie de réduire 
                        <br>vos consommations d'énergie ? </h3>
                        <div class="sep"></div>
                        <div class="description wow fadeInLeftBig">
                            <p>
                                Avec Homii, devenez votre propre auto-consommateur <br>d'énergie grâce à des kits permettant de mesurer et <br>d'optimiser votre consommation actuelle.
                            </p>
                            <h3 class="white low">Abonnez-vous à notre newsletter !</h3>
                        </div>
                        <div class="subscribe wow fadeInUp">
                        {% include "forms/newsLetterHome.twig" %}
                        <div class="success-message"></div>
                        <div class="error-message"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endblock main %}

    {% block javascript %}
     {{ parent() }}
         
         <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    
        </script>
    {% endblock javascript %}