{% extends "base/base_home.twig" %}
        
    {% block stylesheet %}
     {{ parent() }}
     <link rel="stylesheet" href="/css/ion.rangeSlider.css">
     <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css">
    {% endblock stylesheet %}
    


    {% block main %}
    
        <!-- Video autoplay -->
    <section id="banner">
        <div class="banner-title">
            <h1><span class="banner-txt-down" id="title-1">La borne Homii,</span><br> une innovation qui transforme la chaleur en énergie</h1>
            <div class="sep"></div>
            <p class="banner-txt">Produisez votre énergie, faites des économies. </p>
            <p class="banner-txt-down">Découvrez notre kit</p>
            <a href="#description"><img alt="" src="images/down_click.png"></a>
        </div>
        <video  autoplay loop muted>
            <source src="videos/landing.mov">
            Votre navigateur ne supporte pas le tag video 
        </video>  
    </section>

    <!-- Offre -->
    <section id="concept">
        <div class="container">
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2>Le concept homii</h2>
                    <hr class="sep"></hr>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept1.png" alt="">
                    <h3 class="low">Produisez votre énergie depuis chez vous</h3>
                    <p>Grâce à nos solutions personnalisées et simples d’utilisation</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept2.png" alt="">
                    <h3 class="low">Faites des économies sur vos factures</h3>
                    <p>En optant pour nos solutions autonomes en énergie</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center  kit">
                    <img class="img-responsive img-center" src="images/concept3.png" alt="">
                    <h3 class="low">Prenez soin de la planète</h3>
                    <p>En encourageant les start-up qui imaginent les énegies vertes de demain</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FullImage -->
    <section id="fullImage">
        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-5 text">
                        <h2 class="white">TRANSFORMEZ VOTRE CHALEUR EN ÉNERGIE</h2> 
                        <div class="sep"></div>
                        <div class="description">
                          <p> Homii est une borne thermoélectrique basée sur l’effet Peltier.<br> Elle capte l’énergie des sources de chaleur pour
                            la transformer en électricité. Munie d’une à 3 prises, elle alimente vos appareils électriques, qui contribuent à votre confort.</p> 
                       <a href="#"><button class="website">En savoir plus sur ce produit</button></a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="quote-section">
        <img class="width-100 img-responsive" src="/images/image_123.png" alt="image du produit dans une maison" />
        <br>
        <div class="container" id="quote">
           <svg width="60" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 140.6 91.6" style="enable-background:new 0 0 140.6 91.6;" xml:space="preserve">
        <style type="text/css">
        	.st0{fill:#6BDD53;}
        </style>
        <title>Fichier 3</title>
        <g id="Calque_2">
        	<g id="Calque_1-2">
        		<path class="st0" d="M62.3,0.2v10.3c-13.5,1.3-23.2,7.7-28,21c8.2,1.7,14.9,5.3,19.8,11.8c7.5,9.9,8.1,23.3,1.7,33.9
        			c-7,11.2-19.3,16.4-32.7,13.7C11.3,88.3,2.3,78.6,0.5,66.6c-2.2-16.3,3.2-30.7,13.3-43.3C25.7,8.5,41.5,1,60.5,0
        			C61.1,0,61.7,0.1,62.3,0.2z"/>
        		<path class="st0" d="M140.6,0.2v10.3c-13.5,1.3-23.2,7.7-28,21c8.2,1.7,14.9,5.3,19.8,11.8c7.5,9.9,8.1,23.3,1.7,33.9
        			c-7,11.2-19.3,16.4-32.7,13.7c-11.9-2.6-20.9-12.2-22.7-24.2C76.6,50.3,82,35.9,92.1,23.4C104,8.5,119.8,1,138.8,0
        			C139.4,0,140,0.1,140.6,0.2z"/>
        	</g>
        </g>
        </svg>
        <br><p>L’autoconsommation est une pratique qui consiste à produire sa propre énergie, en partie ou en totalité.</p><br><br>
       <span class="banner-txt-down" >Notre mission :</span><br><br>  <p>Accompagner le plus grand nombre vers l’autonomie énergétique.<br>
           Les opportunités : Devenir 10%, 50% ou même 100% autonome en énergie !</p>
         </div>
    </section>
    {% include "simulateur.twig" %}

    
    <!-- Blog -->
    <section id="blog">
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Le Blog homii</h2>
                    <hr class="sep"></hr>
                </div>

            <!-- Projects Row -->
            <div class="row">
                {% for article in articles %}
                <div class="col-md-4 portfolio-item">
                    <a href="/blog/{{ article.slug}}">
                        <img class="img-responsive" src="{{ article.image }}" alt="{{ article.titre_1}}">
                    </a>
                    <h3>{{ article.titre_1 }}</h3>
                    <p>{{ article.preview }}</p>
                    <a href="/blog/{{ article.slug}}">    <span>>Détails</span></a>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </section>

    {% endblock main %}

    {% block javascript %}
     {{ parent() }}
         <script src="/js/ion.rangeSlider.js"></script>
         <script src="/js/main.js"></script>
         <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    
        </script>
    {% endblock javascript %}